.container {
  padding: 10px;
}

.dropdownGroup {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; // works on smaller screens
}

.dropdown {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;

  label {
    font-weight: bold;
    margin-bottom: 5px;
  }

  select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}
