.container {
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  background-color: var(--dds-gray-50);

  @media (min-width: 768px) {
    // md:p-6
    padding: 1.5rem;
  }

  @media (min-width: 1024px) {
    // lg:p-8
    padding: 2rem;
  }

  // .gridwrapper {
  //   display: grid;
  //   grid-template-columns: repeat(12, 1fr);
  //   gap: 1.5rem;

  //   .leftContent {
  //     grid-column: span 12;

  //     @media (min-width: 1024px) {
  //       grid-column: span 8;
  //     }
  //   }

  //   .rightSide {
  //     grid-column: span 12;

  //     .StickyContainer {
  //       position: sticky;
  //       top: 7rem;
  //       margin-top: 1rem;
  //     }

  //     @media (min-width: 1024px) {
  //       grid-column: span 4;
  //     }
  //   }
  // }

  .gridwrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;

    .leftContent {
      grid-column: span 12;

      @media (min-width: 1024px) {
        grid-column: span 8;
      }
    }

    .rightSide {
      grid-column: span 12;

      .StickyContainer {
        position: sticky;
        top: 7rem;
        margin-top: 1.5rem;

        // This will create spacing between children (same as space-y-6)
        > * + * {
          margin-top: 1.5rem; // 6 * 0.25rem = 1.5rem
        }
      }
      @media (min-width: 1024px) {
        grid-column: span 4;
      }
    }
  }
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  // Mobile – switch to single column
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
