.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;

  @media (min-width: 1024px) {
    flex-direction: row;
    // align-items: flex-start;
  }

  .logoSection {
    width: 100%;
    order: 1;
    .cardContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      padding: 1.5rem;
      border-left-width: 8px;
      border: var(--dds-gold-500);
      background-image: linear-gradient(to right, #eff6ff, #ffffff);

      // background-image: linear-gradient(to right, var(--tw-gradient-stops));
      @media (min-width: 768px) {
        flex-direction: row;
      }

      .imagesContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        width: 100%;

        @media (min-width: 768px) {
          width: auto;
        }

        .image {
          object-fit: cover;
          border-width: 4px;
          border-radius: 9999px;

          width: 6rem;
          height: 6rem;
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);

          @media (min-width: 768px) {
            width: 8rem;
            height: 8rem;
          }
        }
      }
      .messageSecction {
        flex-grow: 1;
        // text-align: center;

        @media (min-width: 768px) {
          // text-align: right;
        }
        .Title {
          font-size: 1.25rem;
          line-height: 1.75rem;
          font-weight: 700;
          margin-bottom: 0.25rem;
          color: var(--dds-blue-700);

          @media (min-width: 768px) {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }
        .message {
          margin-top: 0.5rem;
          font-size: 0.875rem;
          line-height: 1.25rem;
          color: var(--dds-gray-900);
        }
        .link {
          font-size: 0.875rem;
          font-weight: bold;
          color: var(--dds --dds-blue-500);
          margin-top: 0.5rem;
          display: inline-block;

          &:hover {
            text-decoration: underline;
          }
          i {
            // margin-right: 0.25rem;
            font-size: 0.75rem;
          }
        }
      }
      .iconRow {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: 100%;

        .img {
          max-height: 8rem;
          object-fit: contain;

          @media (min-width: 768px) {
            max-height: 10rem;
          }
        }
        @media (min-width: 768px) {
          width: auto;
        }
      }
    }
  }
}
