.serviceItem {
  display: flex; // flex
  align-items: center; // items-center
  gap: 0.75rem; // gap-3 (3 * 0.25rem)
  padding: 0.5rem; // p-2
  border-radius: 0.5rem; // rounded-lg
  transition: background-color 0.2s ease; // transition
  cursor: pointer;

  &:hover {
    background-color: #f9fafb; // hover:bg-gray-50
  }

  .serviceIndex {
    width: 2rem; // w-8 = 2rem
    height: 2rem; // h-8 = 2rem
    flex-shrink: 0; // flex-shrink-0
    display: flex; // flex
    align-items: center; // items-center
    justify-content: center; // justify-center
    color: #fff; // text-white
    border-radius: 9999px; // rounded-full
    font-weight: 700; // font-bold
    font-size: 0.875rem; // text-sm
    background-color: var(--dds-blue-500);
  }
  .serviceTitle {
    margin: 0;
    font-weight: 600; // font-semibold
    font-size: 0.875rem; // text-sm
    color: #374151; // text-gray-700
    transition: color 0.2s ease; // transition
    text-align: start;

    // group-hover:text-blue-600
    .serviceItem:hover & {
      color: #2563eb; // blue-600
    }
  }

  .serviceViews {
    font-size: 0.875rem; // text-sm
    color: #6b7280; // text-gray-500
    font-weight: 700; // font-bold
    display: flex; // flex
    align-items: center; // items-center
    gap: 0.25rem; // gap-1

    i {
      font-size: 0.625rem; // text-xs for the icon
    }
  }
}
