.wrapper {
  margin-bottom: 2rem;
}

.filterContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: 768px) {
    gap: 14px;
  }
}

.categoryBtn {
  background-color: #ffffff; // bg-white
  color: #374151; // text-gray-700
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); // shadow-sm

  &:hover {
    background-color: #f5f5f5; // hover:bg-gray-100
  }
}

.active {
  background: var(--dds-blue-500);
  color: white;
  box-shadow: none;
}

.icon {
  margin-left: 8px;
}
