// .backtoTop {
//   position: fixed;
//   bottom: 30px;
//   left: 30px;
//   width: 50px;
//   height: 50px;
//   background-color: var(--dds-blue-500);
//   color: white;
//   border-radius: 50%;
//   display: none;
//   align-items: center;
//   justify-content: center;
//   font-size: 1.5rem;
//   cursor: pointer;
//   transition: opacity 0.3s, visibility 0.3s;
//   z-index: 1000;
//   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
// }
// .show {
//   display: flex;
// }
.backtoTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: var(--dds-blue-500);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 1000;
  font-size: 1.5rem;
}

.show {
  opacity: 0;
  pointer-events: visible;
}
